.imageGroup {
    padding: 40px;
    /* height: 800px; */
    /* margin: 0 auto; */
}

.roundedImg {
    /* //width: 160px; */
    /* ?height: 80px; */
    background: #a84909;
    border-radius: 50%;
  }

  #imageWrap img {
    padding: 40px;
    height: 200px;
    /* margin: 0 auto; */
}

/* #coursesTbl {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
} */